.selectedPost {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgb(255, 255, 255, 0.95);
  z-index: 2;
  display: flex;
  flex-direction: column;
  transition: opacity 0.8s ease 0s;
}

.topBar {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 999;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socialButton {
  margin-left: 40px;
  transform: scale(1.5);
  cursor: pointer;
}

.XButton {
  margin: 20px;
  margin-right: 30px;
  font-size: 25px;
  font-weight: 100;
  cursor: pointer;
}

.bottomPart {
  display: flex;
  height: 100%;
}

.videoSection {
  flex: 7;
  display: flex;
  align-items: center;
}

.arrowPart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.arrowIcon {
  font-size: 50px;
  cursor: pointer;
}

.playerPart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 10;
  height: 100%;
}

.infoSection {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.infoBox {
  display: flex;
  flex-direction: column;
  padding: 100px;
}

.titleText {
  color: rgba(65,65,65,1) !important;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 18px;
  word-wrap: break-word;
}

.infoText {
  color: rgba(65,65,65,1) !important;
  font-size: 15px;
  white-space: pre-wrap;
  max-height: 650px;
  overflow-y: auto;
  word-wrap: break-word;
  margin-bottom: 30px;
  padding-bottom: 1px;
}

.linkText {
  color: rgba(65,65,65,1) !important;
  font-size: 15px;
  cursor: pointer;
  text-decoration: underline;
  max-height: 130px;
  cursor: pointer;
  text-decoration: underline;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  overflow: hidden;
  padding: 2px;
  margin-bottom: 22px;
}
